body {
  background-color: var(--color-background-page);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--font-size-regular);
}

header {
  background-color: var(--color-background-header);
  color: var(--color-text-inverted);
  padding-left: 10px;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-inverted);
}

h2,
h3 {
  color: var(--color-accent);
}

svg.icon {
  display: inline;
  height: 2.6em;
  width: 2em;
  vertical-align: top;
  fill: var(--color-text-inverted);
}

.page {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.three-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.image-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: rgba(var(--color-background-page), 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: var(--spacing-medium);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  transform: translateY(-5px); /* Lift the card */
}

/* Title styling */
.card h4 {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-text); /* Text color for light mode */
  margin-top: var(--spacing-small);
}

/* Link styling */
.card a {
  display: block;
  margin-bottom: var(
    --spacing-medium
  ); /* Space between game-instance and title */
  color: var(--color-link); /* Link color using accent */
  text-decoration: none;
}

body.dark-mode .card {
  background-color: rgba(
    var(--color-background-page),
    0.9
  ); /* Darker translucent background */
  color: var(--color-text-inverted); /* Light text for dark mode */
}

body.dark-mode .card h4 {
  color: var(--color-text-inverted); /* Inverted text color in dark mode */
}

article {
  margin: 10px;
}
