body {
    background-color: var(--color-background-page);
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: var(--font-size-regular);
}

header {
    background-color: var(--color-background-header);
    color: var(--color-text-inverted);
    padding-left: 10px;
  }

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-inverted);
}


h2,
h3 {
  color: var(--color-accent);
}

svg.icon {
  display: inline;
  height: 2.6em;
  width: 2em;
  vertical-align: top;
  fill: var(--color-text-inverted);
}

.grid-container {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}
